@import url(https://fonts.googleapis.com/css?family=Roboto:300);
body {
  /*background: #76b852; /* fallback for old browsers */*/

  /*background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
*/
  /*background-image: image("2.jpg");*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(im2.jpg);
  font-family: "Roboto", sans-serif;


}
#awcc1470808848765{
  position: absolute;
  float: left;
  width: 260px;
  padding: 1% 0 0;
  border-radius: 10px 10px 10px 10px;
  /*margin: 0;*/

}

.login-page {
  float: right;
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 60%;
  height: 150px;
  margin: 20px auto auto auto;
  padding: 5px 0px 0px 0px;
  text-align: left;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form .infoC{
  position: relative;
  z-index: 0;
  background: #FFFFFF;
  width: 400px;
  height: 150px;
  /*margin: 20px auto auto;*/
  margin: 0px 1px 0px 1px ;
  /*border-right: 2px solid black;*/
  /*padding: 0px 0px 0px 0px;*/
  text-align: left;
}

.form .infoC img{
  position: absolute;
  z-index: 1;
  background: #FFFFFF;
  width: 20%;
  height: 100%;

  /*border-radius: 100px 100px 100px 100px;*/
  /*margin: 20px auto auto;*/


}
.form .infoC .infot
{z-index: 1;
  font-family: "Roboto", sans-serif;
  text-shadow: 2px;
  font-size: 20px;
  font-weight: bold;
  display: block;
  margin-left: 150px;
  position:relative;

  color: #0f0e0a;
}


.form .infot .infod{z-index: 1;
font-family: "Roboto", sans-serif;
text-shadow: 2px;
font-size: 15px;
font-weight: bold;
display: block;
margin-top:5px;
position:relative;
color: #4d4d4d;


}






}
 input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  position: relative;
}
 select{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  position: relative;

}
 select:focus{
  transform: scaleX(1.1);
  background-color: #fff;
  border-color: #66CC75;

  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);

}
 input:focus {
	transform: scaleX(1.1);
	background-color: #fff;
	border-color: #66CC75;

	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


 button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #1a75ff  ;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  position:relative;
}
 button:hover, button:active, button:focus {
  background: #0047b3;
}
 .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 15px;
}
 .message m {
  color: #0047b3;
  text-decoration: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}




#navigation {
  position: fixed;
  top: 0;
  width: 100%;
  color: #ffffff;
  height: 35px;
  text-align: left;
  padding-top: 15px;
  /* Adds shadow to the bottom of the bar */
  -webkit-box-shadow: 0px 0px 8px 0px #000000;
  -moz-box-shadow: 0px 0px 8px 0px #000000;
  box-shadow: 0px 0px 8px 0px #000000;
  /* Adds the transparent background */
  background-color: rgba(1, 1, 1, 0.8);
  color: rgba(1, 1, 1, 0.8);
}


#navigation a {
  position:relative;
	font-size: 15px;
	padding-left: 15px;
	padding-right: 15px;
  padding-top: 0;
	color: white;
	text-decoration: none;
}
#navigation b
{color: white
float: right;

position: relative;
transition-duration: 1s;

visibility: hidden;

}

#navigation a:hover {
	color: grey;
}

#navigation b:hover
{
  color:grey;

visibility:visible;
}

input {
	outline: none;
}
input[type=search] {
  float: right;
  margin-right: 30px;
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}


input[type=search] {
	background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 105px;
  height: 10px;
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 200px;
	background-color: #fff;
	border-color: #66CC75;

	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}



.note{
  position: relative;
  background: #e6e6e6;
  margin-top: 40px;
  padding: 5px 5px 5px 5px;
}



.corners {
    background: #FFF;
    height: 500px;
    margin: 50px auto;
    max-width: 400px;
    line-height:25px;
    position: relative;
    width: 80%;
    font-family:arial; font-size:14px; font-weight:bold; padding:10px; padding-top:40px;
    -webkit-box-shadow: 0 1px 7px hsla(0,0%,0%,.2);
       -moz-box-shadow: 0 1px 7px hsla(0,0%,0%,.2);
            box-shadow: 0 1px 7px hsla(0,0%,0%,.2);
}

/* Corner Effect */
.corners:after,
.corners:before {
    background: #e6e6e6;
    content: '';
    height: 50px;
    float:right;
    position: absolute;
    top: -25px;
    width: 100px;
    -webkit-box-shadow: 0 5px 10px -7px hsla(0,0%,0%,.5);
       -moz-box-shadow: 0 5px 10px -7px hsla(0,0%,0%,.5);
            box-shadow: 0 5px 10px -7px hsla(0,0%,0%,.5);
}
.corners:after {
    left: -50px;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
.corners:before {
    right: -50px;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}
